@import "mixin";
@import "header";
@import "footer";
@import "article";

body,html{
  font-family: @fontStack;
  background-color: @bgColor;
}

.hci-nav-bg{
  position: relative;
  width: 100%;
  height: 447px;
  margin-bottom: 25px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  h1{
    position: absolute;
    top: 157px;
    left: 0;
    width: 100%;
    line-height: 90px;
    font-size: 64px;
    span{
      letter-spacing: 92.01px;
    }
  }
  h2{
    position: absolute;
    top: 271px;
    left: 0;
    width: 100%;
    line-height: 33px;
    font-size: 24px;
    span{
      letter-spacing: 21.88px;
    }
  }
  h3{
    position: absolute;
    top: 306px;
    left: 0;
    width: 100%;
    line-height: 33px;
    font-size: 21px;
  }
}

.hci-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 790px;
  background: #EB7681;
  background: linear-gradient(225deg, #EB7681 0%, #DC788B 55%, #947DBB 100%);
}
