.hci-article {
  width: 751px;
  margin: 0 auto 60px;
}
.hci-art-detail {
  width: 653px;
  margin: 0 auto;
}
.hci-art-title {
  margin-bottom: 26px;
  line-height: 66px;
  text-align: center;
  font-size: 50px;
  color: #000000;
}
.hci-art-info {
  margin-bottom: 31px;
  line-height: 22px;
  text-align: center;
  font-size: 16px;
  color: #8A8A8A;
}
.hci-art-time {
  margin-right: 35px;
}
.hci-art-abs {
  margin-bottom: 54px;
  line-height: 28px;
  font-size: 18px;
  font-weight: bolder;
  color: #000000;
}
.hci-art-text {
  line-height: 26px;
  font-size: 14px;
  color: #000;
}
.hci-art-text p {
  margin-bottom: 26px;
  line-height: 32px;
  font-size: 17px;
  white-space: pre-line;
  word-break: break-all;
  text-align: justify;
}
.hci-art-text img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
