footer {
  padding: 35px 0;
  background-color: #4f4f4f;
}
.hci-footer-inner {
  width: 1140px;
  margin: 0 auto;
  color: #fff;
  font-size: 0;
  overflow: hidden;
}
.hci-footer-area {
  float: left;
  border-right: 1px solid rgba(220, 220, 220, 0.25);
}
.hci-footer-area:last-child {
  border: none;
}
.hci-footer-info {
  width: 321px;
  box-sizing: border-box;
  padding-left: 21px;
  line-height: 20px;
  font-size: 14px;
}
.hci-footer-info-logo img {
  display: block;
  width: 49px;
  height: 16px;
}
.hci-footer-info-name {
  margin: 44px 0 52px;
}
.hci-footer-info-design a {
  font-weight: bolder;
  color: inherit;
}
.hci-footer-nav {
  height: 192px;
  padding: 0 69px;
  font-size: 12px;
}
.hci-footer-nav li {
  margin-bottom: 30px;
  line-height: 14px;
}
.hci-footer-nav li:last-child {
  margin-bottom: 0;
}
.hci-footer-nav li a {
  display: block;
  color: inherit;
}
.hci-footer-link {
  height: 192px;
  padding: 0 54px;
}
.hci-footer-link ul {
  width: 168px;
  font-size: 12px;
}
.hci-footer-link ul li {
  margin-bottom: 15px;
  line-height: 14px;
}
.hci-footer-link ul li:last-child {
  margin-bottom: 0;
}
.hci-footer-link ul li a {
  display: block;
  color: inherit;
}
.hci-footer-contact {
  font-size: 14px;
}
.hci-footer-contact dt {
  margin-left: 71px;
  margin-bottom: 14px;
  line-height: 22px;
}
.hci-footer-contact dd {
  margin-left: 99px;
  line-height: 32px;
}
