@import "header";
@import "footer";
@import "variables";
@import "mixin";

body,html{
  font-family: @fontStack;
  background-color: @bgColor;
}

.hci-banner{
  width: 100%;
  height: 558px;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.hci-banner-list{
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  .transition(all 0.6s);
  .transform(translate(0,0));
  margin: 0;
  padding: 0;
}

.hci-banner-item{
  float: left;
  height: 100%;
  img{
    display: block;
    width: 100%;
    height: 100%;
  }
}

.prev,.next{
  display: block;
  position: absolute;
  top: 287px;
  width: 66px;
  height: 66px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-indent: -9999px;
}

.prev{
  left: 133px;
  .bgImage("../img/Arrow Left");
}

.next{
  right: 133px;
  .bgImage("../img/Arrow Right");
}

.indicators{
  position: absolute;
  left: 50%;
  bottom: 18px;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}

.indicator-item{
  .displayInlineBlock();
  width: 12px;
  height: 12px;
  margin: 1px;
  opacity: 0.85;
  border: 1px solid #FFFFFF;
  .borderRadius(50%);
  cursor: pointer;
  &.active{
    background-color: #fff;
  }
}

.hci-part{
  width: @mainWidth;
  margin: 30px auto;
  .boxShadow(0 0 9px 0 rgba(0,0,0,0.10),1px solid #ddd);
}

.hci-aboutus{
  padding: 29px 0 24px;
  h1{
    margin-bottom: 14px;
    text-align: center;
    font-size: 28px;
    letter-spacing: 2.7px;
    color: #000;
  }
  margin-top: 110px\9;//for ie8
}

.hci-aboutus-intro{
  margin: 0 129px 0 87px;
  line-height: 35px;
  text-indent: 36px;
  color: @fontColor;
  font-size: 18px;
}

.hci-aboutus-more{
  display: block;
  width: 172px;
  margin: 20px auto 0;
  padding: 8px 0;
  line-height: 30px;
  text-align: center;
  font-size: 22px;
  color: #FFF;
  letter-spacing: 2.12px;
  background-color: @mainColor;
  border-radius: 25px;
  .transform(translate3d(0,0,0));
  .transition(all 0.4s);
  &:hover{
    .transform(translate3d(0,-10px,0));
  }
}

.hci-keypoint{
  padding: 52px 0 32px;
}

.hci-keypoint-list{
  margin: 0 63.4px 0 68px;
  font-size: 0;
}

.hci-keypoint-item{
  .displayInlineBlock();
  vertical-align: top;
  width: 33%;
  height: 210px;
  box-sizing: border-box;
  & +.hci-keypoint-item{
    border-left: 1px solid #DFDFDF;
  }
}

.hci-keypoint-inner{
  width: 262.6px;
  margin: 0 auto;
  h2{
    padding-top: 82px;
    line-height: 28px;
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
  }
  p{
    line-height: 20px;
    text-align: justify;
    font-size: 14px;
    color: #666666;
  }
}

.index-icon_1{
  background: url("../img/index-icon1.svg") no-repeat center top;
}

.index-icon_2{
  background: url("../img/index-icon2.svg") no-repeat center top;
}

.index-icon_3{
  background: url("../img/index-icon3.svg") no-repeat center top;
}

.hci-basemap{
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  text-align: center;
  background: url("../img/basemap.jpg") no-repeat center;
  background-size: 100% 100%;
}

.hci-basemap-content{
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  color: #fff;
  h1{
    margin-bottom: 11px;
    line-height: 45px;
    font-size: 32px;
    letter-spacing: 22.38px;
  }
  h2{
    line-height: 25px;
    font-size: 18px;
  }
}

.hci-basemap-mask{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.83;
  background-image: linear-gradient(-180deg, rgba(80,211,210,0.36) 4%, rgba(107,183,141,0.36) 97%);
}

.hci-member{
  width: @mainWidth;
  margin: 0 auto;
}

.hci-member-list{
   margin: 0 -15px;
  font-size: 0;
}

.hci-member-item{
  .displayInlineBlock();
  width: 25%;
  *width: 293px;
  .boxSizing();
  margin-bottom: 41px;
  padding: 0 15px;
  *padding: 0 15px;
  img{
    display: block;
    width: 100%;
    height: 246px;
  }
  .hci-card{
    padding-bottom: 23px;
  }
}

.hci-member-name{
  margin: 8.5px 0 4.5px 25px;
  line-height: 28px;
  font-size: 20px;
  font-weight: bolder;
  color: #000;
}

.hci-member-ins{
  margin-left: 25px;
  line-height: 20px;
  font-size: 14px;
  color: #949494;
}

.hci-project{
  width: @mainWidth;
  margin: -11px auto 30px;
}

.hci-pro-list{
  font-size: 0;
}

.hci-pro-item{
  .displayInlineBlock();
  position: relative;
  width: 360px;
  &+.hci-pro-item{
    margin-left: 30px;
  }
}

.hci-pro-pic{
  height: 174px;
  img{
    display: block;
    width: 100%;
    height: 100%;
  }
}

.hci-pro-content{
  padding: 23px 27px 32px 21px;
  line-height: 22px;
  background-color: #fff;
}

.hci-pro-name{
  display: block;
  margin-bottom: 22px;
  font-size: 20px;
  color: #000;
}

.hci-pro-intro{
  font-size: 14px;
  color: @fontColor;
}

.hci-title{
  margin-bottom: 30px;
  line-height: 40px;
  text-align: center;
  font-size: 28px;
  letter-spacing: 2.7px;
  color: #000;
}

.hci-card{
  display: block;
  .boxShadow(0 0 9px 0 rgba(0,0,0,0.10),1px solid #ddd);
  .transition(all 0.4s);
  .transform(translate3d(0,0,0));
}

.hci-card:hover{
  .transform(translate3d(-10px,-10px,0));
  .boxShadow(0 0 9px 0 rgba(227,71,85,0.30),1px solid #E44856);
}

.hci-more{
  display: block;
  width: @mainWidth;
  margin: 0 auto 30px;
  padding: 22px 0;
  line-height: 28px;
  text-align: center;
  .boxShadow(0 0 9px 0 rgba(0,0,0,0.10),1px solid #ddd);
  font-size: 20px;
  color: #555;
}