@import "variables";
@import "mixin";

.hci-sidebar {
  position: absolute;
  top: 171px;
  width: @sidebarWidth;
  background-color: #fff;
  .boxShadow(0 0 9px 0 rgba(0, 0, 0, 0.10),1px solid #ddd);
  opacity: 0;
  .transition(opacity 0.4s);
}

.hci-sidebar-header {
  padding: 0 44px 0 45.8px;
  p{
    margin-top: 3px;
    margin-left: -5px;
    margin-right: -5px;
    line-height: 17px;
    text-align: center;
    font-size: 12px;
    color: #3F3F3F;
  }
}

.hci-sidebar-logo{
  width: 42px;
  height: 10px;
  margin: 21px auto 6.5px;
  text-indent: -9999px;
  .bgImage("../img/grey_logo");
}

.hci-sidebar-title {
  padding: 4.5px 0;
  line-height: 33px;
  border-top: 1px solid #3F3F3F;
  border-bottom: 1px solid #3F3F3F;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  color: #3F3F3F;
  span{
    font-weight: bolder;
    letter-spacing: 16.5px;
  }
}

.hci-sidebar-menu{
  margin: 16.5px 24px 0;
  padding-top: 38.5px;
  padding-left: 30px;
  border-top: 1px solid #eee;
}

.hci-sidebar-item{
  margin-bottom: 36px;
  font-size: 0;
  color: #555;
  cursor: pointer;
  a{
    line-height: 30px;
    vertical-align: top;
    font-size: 22px;
    color: inherit;
  }
  &.active,&:hover{
    color: #009896;
  }
}