@import "variables";
@import "header";
@import "footer";
@import "sidebar";
@import "icon";

body,html{
  font-family: @fontStack;
  background-color: @bgColor;
}

.hci-nav-bg{
  width: 100%;
  height: 214px;
  z-index: -10;
  img{
    width: 100%;
    height: 100%;
  }
}

.hci-body {
  position: relative;
  top: -43px;
  width: @mainWidth;
  margin: 0 auto;
  padding-left: @sidebarWidth;
  box-sizing: border-box;
}

.hci-main {
  margin-left: 30px;
  background-color: #fff;
}

.hci-content{
  position: relative;
  margin-bottom: 30px;
  .boxShadow(0 0 9px 0 rgba(0,0,0,0.10),1px solid #ddd);
}

.hci-content-basic{
  padding: 28px 97px 67px;
}

.hci-content-header{
  margin: 0 97px 0 96px;
  padding: 36px 0 15px;
}

.hci-content-band{
  position: absolute;
  left: 45px;
  top: 0;
  width: 24px;
  height: 70px;
  .bgImage("../img/green_band");
}

.hci-teacher{
  .hci-content-header{
    border-bottom: 1px solid #DFDFDF;
  }
}

.hci-content-title{
  line-height: 45px;
  margin-bottom: 15px;
  font-size: 32px;
  color: #010101;
  letter-spacing: 0.01px;
}

.hci-content-desc{
  margin-bottom: 20px;
  line-height: 33px;
  font-size: 24px;
  color: #000;
}

.hci-content-item,.hci-content-detail{
  margin-bottom: 15px;
  line-height: 26px;
  font-size: 14px;
  color: #535353;
}

.hci-content-detail{
  white-space: pre-line;
}


.hci-teacher-detail{
  padding: 34px 49px 62px;
  font-size: 0;
  h2{
    margin-bottom: 32px;
    text-align: center;
    font-size: 24px;
  }
}

.hci-teacher-list{
  width: 750px;
  &.hci-teacher-list{
    margin-top: 70px;
  }
}

.hci-teacher-item{
  .displayInlineBlock();
  width: 165px;
  text-align: center;
  &+.hci-teacher-item{
    margin-left: 30px;
  }
  img{
    display: block;
    width: 165px;
    height: 165px;
    border-radius: 50%;
  }
}

.hci-teacher-name{
  margin-top: 13px;
  line-height: 22px;
  font-size: 16px;
  font-weight: bolder;
}

.hci-teacher-ins{
  margin-bottom: 14px;
  line-height: 20px;
  font-size: 14px;
  color: #949494;
}

.hci-teacher-more{
  display: block;
  width: 99px;
  margin: 0 auto;
  line-height: 24px;
  font-size: 14px;
  color: #fff;
  background-color: #0CE4E1;
  border-radius: 100px;
}

.hci-student-detail{
  padding: 0 72px 90px 122px;
}

.hci-student-list{
  position: relative;
  font-size: 0;
}

.hci-student-list::after{
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  content: '';
  left: 50%;
  top: 0;
  background-color: #DFDFDF;
}

.hci-student-item{
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 24px;
  &:last-child,&:nth-last-child(2){
    margin-bottom: 0;
  }
}

.hci-student-item:nth-child(even){
  padding-left: 77px;
}

.hci-student-name{
  display: inline-block;
  width: 93px;
  line-height: 22px;
  font-size: 16px;
  font-weight: bolder;
  color: #000;
}

.hci-student-degree{
  line-height: 20px;
  font-size: 14px;
  color: #949494;
}

.hci-team{
  h1{
    margin-bottom: 8px;
    line-height: 40px;
    font-size: 28px;
    color: #010101;
    letter-spacing: 0.11px;
    span{
      color: #666;
      &.split{
        color: #009896;
      }
    }
  }
}

.hci-team-list{
  margin: 0 -15px;
  font-size: 0;
}

.hci-team-item{
  margin-bottom: 30px;
}

.hci-team-content{
  position: relative;
  height: 361px;
  .boxSizing();
  padding-bottom: 32px;
  .boxShadow(0 0 9px 0 rgba(0,0,0,0.10),1px solid #ddd);
  &.hci-team-intro{
    color: #fff;
    padding-bottom: 0;
    img{
      height: 100%;
    }
  }
  img{
    display: block;
    width: 100%;
    height: 174px;
  }
}

.hci-col-1,.hci-col-2{
  .displayInlineBlock();
  vertical-align: top;
  .boxSizing();
  padding: 0 15px;
}

.hci-col-1{
  width: 100%/3;
}

.hci-col-2{
  width: 100%/3*2;
  .hci-team-detail{
    -webkit-column-gap:30px;
    -moz-column-gap:30px;
    column-gap:30px;
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
  }
}

.hci-team-title{
  display: block;
  margin: 23px 14px 22px 21px;
  line-height: 22px;
  font-size: 20px;
  color: #000;
}

.hci-team-detail{
  margin: 0 17px 0 21px;
  line-height: 22px;
  font-size: 14px;
  color: #666666;
}

.hci-more{
  display: block;
  .boxSizing();
  margin: 0 auto;
  padding: 22px 0;
  line-height: 28px;
  text-align: center;
  .boxShadow(0 0 9px 0 rgba(0,0,0,0.10),1px solid #ddd);
  font-size: 20px;
  color: #555;
}

.hci-band{
  position: absolute;
  left: 0;
  top: 25px;
  width: 140px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.22px;
  text-indent: 13px;
  .bgImage("../img/Band");
}

.hci-team-calendar{
  position: absolute;
  right: 12px;
  top: 0;
  width: 135px;
  height: 131.5px;
  text-align: center;
  .bgImage("../img/Calendar Ribbon");
  background-size: 100% 100%;
  .day{
    line-height: 76px;
    font-size: 70px;
  }
  .month{
    line-height: 22px;
    font-size: 16px;
  }
}

.hci-team-info{
  position: absolute;
  right: 12px;
  top: 266px;
  width: 165px;
  line-height: 20px;
  font-size: 13px;
}

.hci-team-icon{
  position: absolute;
  top: 194px;
  right: 106px;
  width: 71px;
  height: 56px;
  .bgImage("../img/conversation");
}

.hci-sidebar-item [class^="icon-"],
.hci-sidebar-item [class*=" icon-"]{
  display: inline-block;
  width: 37px;
  line-height: 30px;
  vertical-align: top;
  text-align: center;
  margin-right: 18px;
  font-size: 26px;
}

.hci-sidebar-item .icon-teacher{
  font-size: 18px;
}